<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>

    <link rel="stylesheet" type="text/css" href="login.css" />
    <script src="login.js"></script>
  </head>

  <body>
    <div class="div-master-login-class">
      <div class="div-login-class">
        <h1 class="h1-site-name-class">Rede Social</h1>

        <input type="email" class="input-email" placeholder="Email" />

        <input type="password" class="input-login" placeholder="Senha" />
      </div>

      <div class="buttons-login-class">
        <button class="button-login-class">Entrar</button>

        <a href="create-account.html">Criar Conta</a>
      </div>
    </div>
  </body>
</html>
