<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="perfil.css"/>
</head>

<body>
<div class="container">
    <div class="box">
        <table>
            <tr>
                <td>
                    <div>
                        <img src="" alt="Foto de Perfil" id="photo"/>
                        <br>
                        <input id="filePhoto" type="file" name="fileNome" accept="image/png"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 class="title" id="fullName"></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="name">Nome: </label>
                        <input class="line" id="name">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="lastName">Sobrenome: </label>
                        <input class="line" id="lastName">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="birthday">Data Nascimento: </label>
                        <input class="line" id="birthday" type="date">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="status">Status: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="status" style="width: 100%;"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="buttonEdit">Editar</button>
                    <button id="buttonBack">Voltar</button>
                    <button id="buttonSave">Salvar</button>
                    <button id="buttonCancel">Cancelar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

<script src="perfil.js"></script>
</html>