<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="perfil.js"></script>
  <link rel="stylesheet" href="perfil.css" />
  <body>
    <div class="centro">
      <table>
        <tr>
          <td>
            <img
              src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*g09N-jl7JtVjVZGcd-vL2g.jpeg"
            />
          </td>
        </tr>
        <br />
        <tr>
          <td><h1 id="fullName">NOME COMPLETO</h1></td>
        </tr>
        <tr>
            <td>
          <label>Nome: </label>
          <label id="name">NOME</label>
        </td>
        </tr>
        <tr>
            <td>
          <label>Sobrenome: </label>
          <label id="lastName">SOBRENOME</label>
        </td>
        </tr>
        <tr>
            <td>
          <label>Data Nascimento: </label>
          <label id="birth">01/01/2000</label>
        </td>
        </tr>
      </table>
        <tr>
            <td>
          <label>Status: </label>
          
        </td>
        </tr>
      </table>
    </div>
  </body>
</html>
