<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="home.css" />
    <script src="home.js"></script>
  </head>

  <body>
    <div class="tabela-container">
    
                <table style="height: 100%; width: 100%;" border="1">
                    <th colspan="2"> Perfil </th>
                    <tr>
                        <td colspan="2" style="border-collapse: 100%;"> <img id="userPhoto" /></td>
                    </tr >
                    <tr>
                        <td>NOME COMPLETO </td>
                       <td> <button>Editar</button></td>
                    </tr>
                </table>
            </div>
            <div class="tabela-container">
                <table style="height: 100%; width: 100%;" border="1">
                    <th> Postagens </th>
                    <tr>
                        <td> postagem 1</td>
                    </tr>
                    <tr>
                        <td> postagem 2</td>
                    </tr>
                    </table>
            </div>
            <div class="tabela-container">
                <table style="height: 100%; width: 100%;" border="1">
                    <th colspan="2"> Postar </th>
                    <tr>
                        <td colspan="2"> Faça uma postagem!</td>
                    </tr>
                    <tr>
                        <td >  <textarea id="textoPostagem"></textarea></td>
                        <td>  <button>Postar</button></td>
                    </tr>
                </table>
            </div>
            
  </body>
</html>
