body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
    font-family: sans-serif;
}

.container {
    display: block;
    width: 100%;
    height: 100%;
}

.container-menu {
    color: white;
    font-size: 16px;
    background-color: rgb(0,200,155);
    text-align: right;
    padding: 1%;
    padding-right: 5%;
}

.container-postar {
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

.post-master-container {
    width: 60%;
    margin: auto;
}

.container-conhecer-pessoas {
    width: 18%;
    background-color: white;
    display: inline-block;
    height: 220px;
    vertical-align: top;
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 220px;
    border: none;
}

.postar-texto {
    width: 100%;
    height: 150px;
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
    border-radius: 5px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    width: 100%;
    padding: 10px;
}

.separator-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    border: 0.5px solid rgb(128, 128, 128);
    box-shadow: black -1px 0.5px;

    background: rgb(235, 235, 235);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post-header-container {
    display: flex;
    text-align: start;
    justify-content: start;
    
    width: 100%;
    padding-bottom: 5px;
}

.post-user-profile-photo {
    width: 30px;
    height: 25px;

    padding: 5px;
}

.user-name-post {
    padding: 5px;

    font-size: 14px;
    font-weight: bold;
    color: orange;
}

.post-image {
    display: flex;
    justify-content: center;
    width: 97%;

    padding: 15px;
    font-size: 15px;
    color: rgb(51, 50, 50);

    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
}

.post-date {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding-bottom: 5px;
}

.date-posting {
    padding: 5px;

    font-size: 10px;
    color: rgb(128, 128, 128);
}

.post-content {
    display: flex;
    justify-content: start;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.post-button {
    display: flex;
    justify-content: start;
    width: 100%;

    margin-top: 10px;
}

table {
    width: 100%;
}

.postagem-dados-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.botao-curtir-imagem {
    width: 20px;
}

h4 {
    margin-left: 10px;
}

.botao-conhecer-pessoas {
    color: white;
    background-color: orange;
    border-radius: 3px;
    border-color: orange;
    padding: 2px;
}

.conhecer-pessoas-img {
    width: 120px;
}

.conhecer-pessoas-dados {
    padding: 15px;
    display: block;
    margin-left: 45px;
}

.conhecer-pessoas-nome {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.botao-conhecer-pessoas-adicionar {
    background-color: green;
    border-color: green;
}

.conhecer-pessoas-botao {
    margin-left: 60px;
}

.menu-item {
    font-weight: bold;
    border: none;
    background-color: inherit;
    color: white;
}

.botao-pesquisar {
    border-radius: 3px;
    font-weight: 500;
}

.postagem-botao-excluir {
    font-weight: 400;
    background-color: rgb(170, 7, 7);
    border-color: rgb(170, 7, 7);
    border-radius: 3px;
    color: white;
    display: inline-block;
}

.postagem-botao-editar {
    font-weight: 400;
    background-color: rgb(212, 223, 65);
    border-color: rgb(212, 223, 65);
    border-radius: 3px;
    color: white;
    display: inline-block;
}

.postagem-cabecalho-botao {
    text-align: end;
    width: 150px;
    display: inline-block;
    float: right;
}

button:hover {
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-out 0.6s;
    cursor: pointer;
}

img {
    border-radius: 3px;
}