<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="home.css"/>
</head>

<body>
<div class="container">
    <div class="container-menu">
        <a class="menu-item">UNIASERVICE</a>
        <label for="inputSearch"></label>
        <input id="inputSearch" type="text" placeholder="Pesquisar..."/>

        <button class="botao-pesquisar">Pesquisar</button>
        <button id="perfilButton" type="button" class="menu-item">Perfil</button>
        <button id="amigosButton" type="button" class="menu-item">Meus amigos</button>
    </div>

    <div class="container-conhecer-pessoas">
        <iframe title="Recomendações" src="../recomendar-amigos/recomendar-amigos.html"></iframe>
    </div>

    <div class="container-postar">
        <label for="textAreaPost"></label>
        <textarea id="textAreaPost" class="postar-texto" placeholder="Escreva algo aqui!"></textarea>

        <button>Postar</button>

        <input type="file" name="arquivos" accept="image/png" multiple/>
    </div>

    <div class="postContainer">
        <table id="tablePosts">
            <caption></caption>

            <tr>
                <th>Confira o que há de novo!</th>
            </tr>

            <tr>
                <td>
                    <div class="post">
                        <div class="postagem-cabecalho-info">
                            <img alt="Foto de Perfil" class="postUserProfilePhoto" src="../../assets/fotoPerfil.jpg">
                            <span class="postagem-nome-usuario">UsuarioFulano</span>
                        </div>

                        <div>
                            <a class="datePosting">Postado: 15/10/2023</a>
                        </div>

                        <div class="postContent">
                            <span>Conteúdo</span>
                        </div>

                        <div class="postImage">
                            <img alt="Imagem" class="postagem-dados-foto" src="../../assets/emptyPicture.png">
                        </div>

                        <div>
                            <button class="likeButton">
                                <img alt="Curtir" class="botao-curtir-imagem" src="../../assets/gostar.png">Curtir
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

<script src="home.js"></script>
</html>