<html lang="pt-br"> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>Meus amigos</title>
        <link rel="stylesheet" type="text/css" href="amigo.css" />
        <script src="amigo.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="container-menu">
                <a class="menu-item">UNIASERVICE</a>
                <input type="text" placeholder="Pesquisar..." />
                <button class="botao-pesquisar">Pesquisar</button>
                <a class="menu-item">Perfil</a>
            </div>
            <div class="container-informacoes-amigos">
                <h3>Meus amigos</h3>
                <div class="conteudo">
                    <div class="cabecalho-info">
                        <img class="foto-perfil" src="../../assets/fotoPerfil.jpg">
                        <a class="nome-usuario">UsuarioFulano</a>
                    </div>
                    <div class="cabecalho-botao">
                        <button class="botao">Ver amigo</button>
                        <button class="botao">Remover amigo</button>
                    </div>
                </div>
                <div class="conteudo">
                    <div class="cabecalho-info">
                        <img class="foto-perfil" src="../../assets/fotoPerfil.jpg">
                        <a class="nome-usuario">UsuarioFulano</a>
                    </div>
                    <div class="cabecalho-botao">
                        <button class="botao">Ver amigo</button>
                        <button class="botao">Remover amigo</button>
                    </div>
                </div>
                <div class="conteudo">
                    <div class="cabecalho-info">
                        <img class="foto-perfil" src="../../assets/fotoPerfil.jpg">
                        <a class="nome-usuario">UsuarioFulano</a>
                    </div>
                    <div class="cabecalho-botao">
                        <button class="botao">Ver amigo</button>
                        <button class="botao">Remover amigo</button>
                    </div>
                </div><div class="conteudo">
                    <div class="cabecalho-info">
                        <img class="foto-perfil" src="../../assets/fotoPerfil.jpg">
                        <a class="nome-usuario">UsuarioFulano</a>
                    </div>
                    <div class="cabecalho-botao">
                        <button class="botao">Ver amigo</button>
                        <button class="botao">Remover amigo</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>