<html lang="pt-br"> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>Meus amigos</title>
        <link rel="stylesheet" type="text/css" href="amigo.css" />
    </head>
    <body>

        <div class="container">
            <div class="container-menu">
                <span class="menu-item">UNIASERVICE</span>
                <button id="perfilButton" type="button" class="menu-item">Perfil</button>
                <button id="homeButton" type="button" class="menu-item">Página principal</button>
            </div>
            <div class="container-informacoes-amigos">
                <div class="info-message-container">
                    <span class="info-message">Meus amigos</span>
                </div>
            </div>
        </div>
    </body>
    <script src="amigo.js"></script>
</html>