<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>

    <link rel="stylesheet" type="text/css" href="login.css" />
    <script src="login.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="box">
        <div class="line">
          <h1 class="title">Uniaservice</h1>
        </div>

        <div class="line">
          <input type="email" class="input" placeholder="Email" />
        </div>

        <div class="line">
          <input type="password" class="input" placeholder="Senha" />
        </div>

        <div class="buttons">
            <button class="button">Entrar</button>

            <button class="button" onclick="createAccountRedirect()">
              Criar Conta
            </button>
        </div>
      </div>
    </div>
  </body>
</html>
