<div class="container-conhecer-pessoas">
    <a href="link.com">Meus amigos</a>
    <h4>Pessoas que você talvez conheça</h4>
    <div class="conhecer-pessoas-dados">
        <div>
            <img class="conhecer-pessoas-img" src="../../assets/emptyPicture.jpg">
        </div>
        <div class="conhecer-pessoas-nome">
            <a>Fulano de Tal</a>
        </div>
    </div>
    <div class="conhecer-pessoas-botao">
        <button class="botao-conhecer-pessoas botao-conhecer-pessoas-adicionar">Adicionar</button>
        <button class="botao-conhecer-pessoas">Próximo</button>
    </div>
</div>