<html lang="pt-br"> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>Meus amigos</title>
        <link rel="stylesheet" type="text/css" href="amigos.css" />
        <script src="amigos.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="container-menu">
                <a class="menu-item">UNIASERVICE</a>
                <input type="text" placeholder="Pesquisar..." />
                <button class="botao-pesquisar">Pesquisar</button>
                <a class="menu-item">Perfil</a>
            </div>
            <div class="container-listagem-meus-amigos">
                <table>
                    <tr>
                        <div class="container-amigo-dado">

                        </div>
                        <td>Nome do amigo</td>
                        <td>Foto do amigo</td>
                        <td><button>Ver amigo</button></td>
                        <td><button>Remover amigo</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>