body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
    font-family: sans-serif;
}

.container {
    display: block;
    width: 100%;
    height: 100%;
}

.container-menu {
    color: white;
    font-size: 16px;
    background-color: rgb(0,200,155);
    text-align: right;
    padding: 1%;
    padding-right: 5%;
}

.menu-item {
    font-weight: bold;
}

.botao-pesquisar {
    border-radius: 3px;
    font-weight: 500;
}